@import "./nullstyle.scss";
.container {
  max-width: 1228px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
._cont {
  max-width: 1178px;
}

@import "./header.scss";
@import "./main-block.scss";
@import "./about-block.scss";
@import "./comments-block.scss";
@import "./footer.scss";



