$gradient1: linear-gradient(269.91deg, #2e3192b3 0%, #d4145ab3 98.16%);
$gradient2: linear-gradient(95.2deg, #b90160 2.23%, #2e3192 99.51%);
$gradient3: linear-gradient(180deg, #b90160 0%, #3d5bf5 100%);
$gradient4: linear-gradient(94.31deg, #d4145a40 0.96%, #2e319240 104.83%);
$color1: #fff;
$color2: #000;
$color3: #737373;
$color4: #8e8e8e;
$shadow1: 0px 0px 40px #b8005f33;
$shadow2: 0px 0px 30px rgba(0, 0, 0, 0.25);
